<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Background</title>
</head>
<body onload="connect()">
<script>
    var ws;

    function connect() {

        ws = new WebSocket('ws://' + window.location.host + '/background/');

        ws.onopen = function () {
            log('open')
        };

        ws.onclose = function () {
            log('closed');
            connect();
        };
    }

    function microtime() {
        return new Date().getTime() / 1000;
    }

    function log(message) {
        console.log(microtime(), message);
    }
</script>
</body>
</html>